<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Android APK在线分析扫描，Java反编译工具</title>
    <style>
       .header{
         background-color: white;
         border-bottom: 1px solid  rgba(0,0,0,.22);
       }

       .decode-info{
          margin-top: 80px;
          margin-bottom: 20px;
          text-align: center;
       }
       .container{
         margin-bottom: 100px;
       }
    </style>
  </head>
  <body>
    <div class="header">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/index">首页</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/explore">浏览业界</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tools">反编译工具</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tech">技术分析</a>
            </li>
          </ul>
    </div>
    <div class="container">
      <!-- Content here -->

      <div class="decode-info">反编译工具下载</div>
      <table class="table table-bordered table-striped">
          <thead class="thin-border-bottom">
          <tr>
            <th>
             工具名称
            </th>
            <th>
              说明
            </th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="https://github.com/skylot/jadx" target="_blank">Jadx   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
              </td>
              <td>
                Command line and GUI tools for produce Java source code from Android Dex and Apk files
                <img src="https://camo.githubusercontent.com/2b504e792e3ddb1d95094b44e01ab21e101b6f56/68747470733a2f2f692e696d6775722e636f6d2f6839313749425a2e706e67" alt="jadx-gui screenshot" data-canonical-src="https://i.imgur.com/h917IBZ.png" style="max-width:100%;">
              </td>
            </tr>

            <tr>
                <td>
                  <a href="http://java-decompiler.github.io/" target="_blank">JD-GUI   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </td>
                <td>
                    Java Decompiler
                    <br/>
                  <img src="http://java-decompiler.github.io/img/screenshot17.png" alt="jadx-gui screenshot" data-canonical-src="https://i.imgur.com/h917IBZ.png" style="max-width:100%;">
                </td>
              </tr>
          </tbody>
        </table>


    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
